.lunar-chat-bubble {
    position: relative;
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    max-width: 100%;
    margin-bottom: 5px;

    background: var(--color-base-100);
    color: var(--color-base-text);
    border: 1px solid var(--color-base-stroke);
}

.lunar-chat-container {
    height: 100%;
    overflow-y: scroll;
}

.lunar-chat-bubble--sent {
    background: var(--color-primary);
    color: var(--color-primary-text);
    border-bottom-right-radius: 0.35rem;
}

.lunar-chat-bubble--sent.chat-bubble--last::after {
    content: '';
    position: absolute;
    right: -6px;
    bottom: 10px;
    border-left: 6px solid var(--color-primary);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.lunar-chat-bubble--other {
    background: var(--color-base);
}

.lunar-chat-bubble--other.chat-bubble--last::before {
    content: '';
    position: absolute;
    left: -6px;
    bottom: 10px;
    border-right: 6px solid var(--color-base-stroke);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.lunar-chat-message-enter {
    opacity: 0;
    transform: translateY(10px);
}

.lunar-chat-message-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
